<div class="hide-for-small small-12 medium-3 grid-end white-container position-fixed">
    <div class="wrapper-container side-info {{#if sidebarImage}}has-image{{/if}}">
        {{#if sidebarImage}}
            <div class="{{sidebarImage}}"></div>
        {{/if}}
        <h3 class="font-yellow">{{sidebarTitle}}</h3>
        {{#if true}}
            <p id="tax-profile-instructions" class="side-info-blurb">
                {{sidebarDescription}}
            </p>
            <input type="hidden" id="tax-profile-sidebar-description" value="{{sidebarDescription}}"></input>
        {{else}}
            <!--TODO: Need to iterate over line items for quote breakdown and bind line item and price-->
            <!--TODO: Need hover functionality-->
            <div class="display-inline-table full-width">
                <p class="display-inline-block float-left">Self Employed</p>
                <p class="display-inline-block float-right">$19.00</p>
            </div>
            <div class="display-inline-table full-width">
                <p class="display-inline-block float-left">Capital Gains</p>
                <p class="display-inline-block float-right">$19.00</p>
            </div>
            <div class="display-inline-table full-width">
                <p class="display-inline-block float-left">Employee Related Expenses</p>
                <p class="display-inline-block float-right">$19.00</p>
            </div>
            <div class="display-inline-table full-width">
                <p class="display-inline-block float-left">Total</p>
                <p class="display-inline-block float-right">$19.00</p>
            </div>
        {{/if}}
    </div>
</div>
