<div data-id="{{id}}" class="taxplan-tile {{customTileClass}} {{#isActiveTile id activeTiles}} active{{/isActiveTile}}" data-instructions="{{{instructions}}}" data-type="{{type}}">
    <span class="taxplan-tile-label">{{text}}</span>
</div>