<section id="tax-profile-filers-names" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="container-header fixed-page-header">
            <h1 class="header">Additional Filer Names</h1>
            <button id="filers-names-submit" type="submit" class="green header">Next</button>
            <button id="filers-names-back" class="grey header">Previous</button>
        </div>
        <div class="content-form">
            <h1 class="subtitle">
                Next we just need the first names of all the people you are filing for:
            </h1>
            <form id="filers-names-form">
                <label for="filers-names-{{users.0.id}}">YOUR FIRST NAME</label>
                <input id="filers-names-{{users.0.id}}" type="text" value="{{users.0.firstName}}" name="{{users.0.id}}"/>
                {{#if users.1.id}}
                    <label for="filers-names-{{users.1.id}}" class="under">YOUR SPOUSE OR PARTNER’S FIRST NAME</label>
                    <input id="filers-names-{{users.1.id}}" type="text" value="{{users.1.firstName}}" name="{{users.1.id}}"/>
                {{/if}}
                {{#offsetEach users 2}}
                    {{#if id}}
                        <label for="filers-names-{{id}}" class="under">FIRST NAME OF YOUR ADDITIONAL FILER</label>
                        <input id="filers-names-{{id}}" type="text" value="{{firstName}}" name="{{id}}"/>
                    {{/if}}
                    {{#compare customIndex 0 operator=">"}}
                        <div class="filers-names-delete-filer" data-index="{{customIndex}}">
                            delete
                        </div>
                    {{/compare}}
                {{/offsetEach}}
            </form>
            {{#if users.2.id}}
                <div id="filers-names-new-filer">
                    <div class="i--icon-add"></div>
                    <p class="label-add">ADD AN ADDITIONAL FILER</p>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="hide-for-small small-12 medium-5 grid-end white-container">
        <div class="wrapper-container side-info has-image">
            <div class="i--icon-filersnames"></div>
            <h3 class="font-yellow">Filers Names</h3>
            <p class="side-info-blurb">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam velit ut faucibus consequat. In hac habitasse platea dictumst. Proin at volutpat velit. Quisque congue varius nulla non aliquam. Integer condimentum dapibus ipsum, sit amet pharetra ligula aliquam sit amet. Praesent dui tortor, molestie et sodales non, vulputate in ligula. Curabitur nec justo tellus. Sed ac arcu porttitor, blandit sapien convallis, ultrices nisi. Duis aliquam iaculis nunc sed sodales. Phasellus cursus convallis scelerisque. Nulla consectetur, nunc at maximus tincidunt, mauris sapien vehicula libero, at bibendum metus dui ac magna. Donec tempus justo eu vestibulum dictum.
            </p>
        </div>
    </div>
</section>