<section id="tax-profile-quote" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Quote</h1>
                <button id="quote-submit" type="submit" class="green header">Get Started!</button>
                <button id="quote-back" class="grey header">Previous</button>
            </div>
            <form id="quote-form" class="container-credits-form horizontal-center">
                <p class="label-blurb">The fee for TAXplan Canada to
                    prepare your 2015
                    taxes for 2 filers are:</p>
                {{#each quote.lineItems}}
                    {{#each ../users}}
                        {{#compare taxReturnId ../taxReturnId operator="=="}}
                            <div class="border-bottom-light-gray border-top-light-gray">
                                <p class="line-item item">Tax Prep. - {{firstName}}</p>
                                <button id="quote-submit" type="submit" class="green-outline button-details">Details</button>
                                <p class="line-item price">${{../price}}</p>
                            </div>
                            <!--<div class="border-bottom-light-gray">-->
                            <!--<p class="line-item item">Tax Prep. - {{firstName}}</p>-->
                            <!--<button id="quote-submit" type="submit" class="green-outline button-details">Details</button>-->
                            <!--<p class="line-item price">${{../price}}</p>-->
                            <!--<p class="side-info-blurb">*with conditions</p>-->
                            <!--</div>-->
                        {{/compare}}
                    {{/each}}
                {{/each}}
                <div class="border-bottom-light-gray">
                    <p class="line-item item font-light-grey">Direct Deposit</p>
                    <p class="line-item price font-light-grey">$5.00</p>
                </div>
                <div class="text-center">
                    <div>
                        <p class="label-total-price">${{quote.totalPrice}}</p>
                        <p class="side-info-blurb label-fine-print tax">Plus Provincial Tax</p>
                    </div>
                    <p class="label-blurb horizontal-center">You don't need to pay now</p>
                    <p class="side-info-blurb label-fine-print get-started">You can pay once your taxes are prepared</p>
                    <button id="quote-submit" type="submit" class="green long">Great! Let's Get Started</button>
                    <p class="side-info-blurb label-fine-print get-started">By clicking "Get Started" you agree to the TAXplan Terms of Service and Privacy Policy</p>
                </div>
            </form>
        </div>
    </div>
    {{>tax-profile-sidebar sidebarImage="i--icon-quote" sidebarTitle="Quote"}}
</section>
{{>tax-profile-quote}}