<section id="tax-profile-quote" class="full-screen-grid-container main-container">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Quote</h1>
            <button id="quote-submit" type="submit" class="green header">Get Started!</button>
            <button id="quote-back" class="grey header">Previous</button>
        </div>
        <div class="content-form">
            <form id="quote-form" class="container-credits-form horizontal-center">
                {{#compare @root.quote.lineItems.length 1 operator=">"}}
                    <p class="label-blurb"><span class="capitalize">{{users.0.firstName}}</span>, the fee for TAXplan Canada to prepare 2016 tax returns for yourself and your other filers is:</p>
                {{/compare}}
                {{#compare @root.quote.lineItems.length 1 operator="=="}}
                    <p class="label-blurb"><span class="capitalize">{{users.0.firstName}}</span>, the fee for TAXplan Canada to prepare your 2016 tax return is:</p>
                {{/compare}}
                {{#each quote.lineItems}}
                    {{#each ../users}}
                        {{#compare taxReturnId ../taxReturnId operator="=="}}
                            <div class="border-bottom-light-gray border-top-light-gray">
                                <p class="line-item item">Tax Prep. - <span class="capitalize">{{firstName}}</span></p>
                                <button class="quote-details green-outline button-details" data-quote-index="{{@index}}">Details</button>
                                <p class="line-item price">${{../price}}</p>
                            </div>
                        {{/compare}}
                    {{/each}}
                {{/each}}
                <div class="border-bottom-light-gray">
                    <p class="line-item item font-light-grey">Direct Deposit</p>
                    <p class="line-item price font-light-grey">$5.00</p>
                </div>
                <div class="text-center">
                    <div>
                        <p class="label-total-price">${{quote.totalPrice}}</p>
                        <p class="side-info-blurb label-fine-print tax">Plus Provincial Tax</p>
                    </div>
                    <p class="label-blurb horizontal-center">You don't need to pay now.</p>
                    <p class="side-info-blurb label-fine-print get-started">You can pay with any credit card once your tax return(s) have been completed.</p>
                    <button id="quote-submit" type="submit" class="green long">Great! Let's Get Started</button>
                    <p class="side-info-blurb label-fine-print get-started">By clicking "Get Started" you agree to the TAXplan Terms of Service and Privacy Policy</p>
                </div>
            </form>
        </div>
    </div>
    {{>tax-profile-sidebar hasTiles=true sidebarImage="i--icon-quote" sidebarTitle="Quote"}}
</section>
<aside class="modal--fade" id="modal-tax-profile-quote" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <!--populated dynamically-->
</aside>
