<div id="container-document-tile" class="add-bottom-margin" data-id="{{documentId}}" data-active-item-id="{{checkListItemId}}">
    {{#if hasDocThumbnail}}
        {{{documentImageHelper thumbnailUrl name}}}
    {{else}}
        {{#if isTextDoc}}
            <i class="fa fa-file-text" aria-hidden="true"></i>
        {{else if isOtherDoc}}
            <i class="fa fa-file" aria-hidden="true"></i>
        {{/if}}
    {{/if}}
    <div id="container-document-tile-info">
        <p class="no-margin f--futura-book label-document-tile-name">{{name}}</p>
        <div class="label-uploaded-info">
            <p class="no-margin f--futura-book">Uploaded:</p>
            <p class="no-margin f--futura-book">{{createdAt}}</p>
        </div>
    </div>
    <div class="dashboard-upload-delete i--icon-garbage-can {{#if hideDelete}} hidden {{/if}}" data-id="{{documentId}}" data-quote-id="{{quoteId}}"></div>
</div>