<div id="container-document-tile" class="add-margin-right add-bottom-margin" data-id="{{documentId}}" data-active-item-id="{{checkListItemId}}">
    <!--TODO: Need to bind image and document info-->
    <div class="dashboard-upload-delete i--icon-red-x {{#compare taxReturns.0.status.id 4 operator=">="}} hidden {{/compare}}" data-id="{{documentId}}" data-quote-id="{{quoteId}}"></div>
    <img class="full-width" src="{{thumbnailUrl}}"/>
    <div id="container-document-tile-info">
        <p class="no-margin f--futura-book label-document-tile-name">{{name}}</p>
        <div class="label-uploaded-info">
            <p class="no-margin f--futura-book">Uploaded:</p>
            <p class="no-margin f--futura-book">{{createdAt}}</p>
        </div>
    </div>
</div>