<section id="personal-profile-credits" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Credits</h1>
                <button id="credits-submit" type="submit" class="green header">Next</button>
                <button id="credits-back" class="grey header">Previous</button>
            </div>
            <form id="credits-form">
                <input type="hidden" id="account-id-{{accountInfo.accountId}}" name="accountId" value="{{accountInfo.accountId}}"/>
                <input type="hidden" id="product-id-10" name="productId" value="{{accountInfo.productId}}"/>
                <input type="hidden" id="firstName" name="firstName" value="{{accountInfo.firstName}}" />
                <input type="hidden" id="token" name="token" value="{{accountInfo.token}}" />
                {{#each taxReturns}}
                    <h1 class="subtitle">{{first_name}} please select all your credit in 2016:</h1>
                    {{>personal-profile-options questions=questions activeTiles=answers  tileContainerId=taxReturnId}}
                    <input type="hidden" id="tax-return-id-{{taxReturnId}}" name="taxReturnId" value="{{taxReturnId}}"/>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-credits" sidebarTitle="Credits"}}
</section>