<section id="personal-profile-dependants" class="full-screen-grid-container main-container">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Dependants</h1>
            <button id="dependants-submit" class="green header">Next</button>
            <button id="dependants-back" class="grey header">Previous</button>
        </div>
        <div class="content-form">
            <form id="dependants-form">
                {{#each taxReturns}}
                    <div class="border-bottom-light-grey add-bottom-padding taxplan-tile-container taxplan-form-container" data-id="{{taxReturnId}}">
                        <h1 class="subtitle  {{#if @index}}border-top-light-gray{{/if}}">
                            {{#compare @index 0 operator="=="}}
                                <span class="capitalize">{{firstName}}</span>, do you or any of your other filers have children or financially support another person?
                            {{else}}
                                <span class="capitalize">{{firstName}}</span>, do you have children or financially support another person?
                            {{/compare}}
                        </h1>
                        {{>personal-profile-options questions=questions.answers tileContainerId=taxReturnId}}
                        {{#hasDependantsSelected questions.answers}}
                            {{#each dependants}}
                              {{#if will_delete}}
                              {{else}}
                                <div class="border-bottom-light-gray clear-both">
                                    <div class="container-inline-input long">
                                        <p>{{first_name}} {{last_name}}</p>
                                    </div>
                                    <div class="container-inline-input">
                                        <p>{{day}}/{{month}}/{{year}}</p>
                                    </div>
                                    <div class="container-inline-input container-small-button">
                                        <div class="container-inline-input">
                                            <button class="dependants-button-delete green-outline" data-id="{{id}}">Delete</button>
                                        </div>
                                        <div class="container-inline-input">
                                            <button class="dependants-button-edit green-outline" data-id="{{id}}">Edit</button>
                                        </div>
                                    </div>
                                </div>
                              {{/if}}
                            {{/each}}
                            {{#if dependantForm}}
                                {{>personal-profile-dependant-form taxReturns=../taxReturns}}
                            {{else}}
                                <div class="dependants-button-add add-bottom-padding add-top-padding" data-tax-return-id="{{taxReturnId}}">
                                    <div class="i--icon-add"></div>
                                    <label class="label-add">ADD A DEPENDANT FOR {{firstName}}</label>
                                </div>
                            {{/if}}
                        {{/hasDependantsSelected}}
                    </div>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-dependants" sidebarTitle="what is a dependant?" sidebarDescription="Could you will not confound the dearest friend
	Prejudicates the remove
	Bring your houses!
	They have my children of good
	wrestling, which being proud."}}
</section>
{{>personal-profile-popup popupTitle="Dependants" popupBlurb="You must select at least one tile that applies" popupImage="i--icon-alert"}}
