<section id="personal-profile-income" class="full-screen-grid-container main-container">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Income</h1>
            <button id="income-submit" type="submit" class="green header">Next</button>
            <button id="income-back" class="grey header">Previous</button>
        </div>
        <div class="content-form">
            <form id="income-form">
                {{#each taxReturns}}
                    <h1 class="subtitle {{#if @index}}border-top-light-gray{{/if}}">
                        {{#compare @index 0 operator="=="}}
                            <span class="capitalize">{{firstName}}</span>, help us build a TAXprofile for yourself and your other filers.</br>What types of income sources did you have in 2016? Select all that apply:
                        {{else compare @index 1 operator="=="}}
                            Tell us about <span class="capitalize">{{firstName}}</span>'s income sources in 2016:
                        {{else}}
                            Provide income sources for <span class="capitalize">{{firstName}}</span>:
                        {{/compare}}
                    </h1>
                    {{#compare @index 0 operator="=="}}
                        {{>personal-profile-options questions=questions.answers tileContainerId=taxReturnId isPrimaryFiler=true}}
                    {{else}}
                        {{>personal-profile-options questions=questions.answers tileContainerId=taxReturnId}}
                    {{/compare}}
                    <input type="hidden" id="tax-return-first-name-{{taxReturnId}}" name="taxReturnFirstName{{taxReturnId}}" value="{{firstName}}"/>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar hasTiles=true sidebarTitle="Income"}}
</section>
{{>personal-profile-popup popupTitle="Income" popupBlurb="You must select at least one tile that applies" popupImage="i--icon-alert"}}
