<section id="personal-profile-last-name" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Hi {{users.0.firstName}}, welcome to TAXplan</h1>
                <button id="last-name-submit" type="submit" class="green header">Next</button>
            </div>
            <form id="last-name-form">
                <h1 class="subtitle">{{users.0.firstName}}, can you complete the full legal name for all filers?</h1>
                {{#each users}}
                    <div class="add-top-padding taxplan-form-container">
                        <div class="container-inline-input long">
                            <label for="last-name-{{id}}">FIRST NAME</label>
                            <input type="text" class="inline-input" name="name" placeholder="Last Name" value="{{firstName}}"/>
                        </div>
                        <div class="container-inline-input long">
                            <label for="last-name">LAST NAME</label>
                            <input type="text" id="last-name-{{id}}" class="inline-input" name="name" placeholder="Last Name" value="{{lastName}}"/>
                        </div>
                    </div>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-filersnames" sidebarTitle="last name"}}
</section>