<section id="personal-profile-last-name" class="full-screen-grid-container main-container">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Hi <span class="capitalize">{{accountInfo.firstName}}</span>, welcome to TAXplan</h1>
            <button id="last-name-submit" type="submit" class="green header">Next</button>
        </div>
        <div class="content-form">
            <form id="last-name-form">
                <h1 class="subtitle  {{#if @index}}border-top-light-gray{{/if}}"><span class="capitalize">{{accountInfo.firstName}}</span>, please provide your full legal name including middle initials.</h1>
                {{#each taxReturns}}
                    <div class="add-top-padding taxplan-form-container" data-id="{{taxReturnId}}">
                        <div class="container-inline-input long">
                            <label for=”first-name-{{taxReturnId}}”>FIRST NAME</label>
                            <input type="text" id="first-name-{{taxReturnId}}" class="inline-input" name="firstName" placeholder="First Name" value="{{firstName}}"/>
                            <p id="first-name-label-error-first-name-{{taxReturnId}}" class="label-error">First Name Needed</p>
                        </div>
                        <div class="container-inline-input long">
                            <label for="last-name">LAST NAME</label>
                            <input type="text" id="last-name-{{taxReturnId}}" class="inline-input" name="lastName" placeholder="Last Name" value="{{lastName}}"/>
                            <p id="last-name-label-error-first-name-{{taxReturnId}}" class="label-error">Last Name Needed</p>
                        </div>
                        <input type="hidden" id="tax-return-id-{{taxReturnId}}" name="taxReturnId" value="{{taxReturnId}}"/>

                    </div>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar hasTiles=false sidebarImage="i--icon-filersnames" sidebarTitle="Legal Name" sidebarDescription="In the perfect universityfor me. That my neighborhood with empty Starbucks cups containing only to the status quo, seems fair; I have been successfully paired and green coffee farmers endure. Their homes are small school I have far-flung consequences."}}
</section>
