<section id="personal-profile-last-name" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Hi {{users.0.firstName}}, welcome to TAXplan</h1>
                <button id="last-name-submit" type="submit" class="green header">Next</button>
            </div>
            <form id="last-name-form">
                <h1 class="subtitle">{{users.0.firstName}}, can you complete the full legal name for all filers?</h1>
                {{#each taxReturns}}

                    <div class="add-top-padding taxplan-form-container" data-id="{{firstName}}">
                        <div class="container-inline-input long">
                            <label for=”last-name-{{taxReturnId}}”>FIRST NAME</label>
                            <input type="text" id="last-name-{{taxReturnId}}" class="inline-input" name="firstName" placeholder="First Name" value="{{firstName}}" readonly="readonly"/>
                        </div>
                        <div class="container-inline-input long">
                            <label for="last-name">LAST NAME</label>
                            <input type="text" id="last-name-{{taxReturnId}}" class="inline-input" name="lastName" placeholder="Last Name" value="{{lastName}}"/>
                        </div>
                        <input type="hidden" id="tax-return-id-{{taxReturnId}}" name="taxReturnId" value="{{taxReturnId}}"/>

                    </div>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-filersnames" sidebarTitle="Legal Name"}}
</section>