<section id="personal-profile-marital-status" class="full-screen-grid-container main-container">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Marital Status</h1>
            <button id="marital-status-submit" type="submit" class="green header">Next</button>
            <button id="marital-status-back" class="grey header">Previous</button>
        </div>
        <div class="content-form">
            <form id="marital-status-form">
                {{#each taxReturns}}
                    <h1 class="subtitle display-inline-table full-width  {{#if @index}}border-top-light-gray{{/if}}"><span class="capitalize">{{firstName}}</span>, what was your marital status on Dec 31, 2016:</h1>
                    {{#if @index}}
                        <div id="marital-status-same-{{taxReturnId}}" class="checkbox-container display-inline-table full-width add-top-margin">
                            <div class="checkbox"></div>
                            <p class="checkbox-label" >SAME MARITAL STATUS AS {{accountInfo.firstName}}</p>
                        </div>
                    {{/if}}
                    {{>personal-profile-single-options questions=questions.answers.0.tiles tileContainerId=taxReturnId}}
                    <div id="marital-status-changed-{{taxReturnId}}" class="checkbox-container marital-status-changed-container full-width display-inline-table">
                        <div class="checkbox {{questions.answers.1.class}}"></div>
                        <p class="checkbox-label">MY MARITAL STATUS CHANGED IN 2016</p>
                    </div>
                    {{#compare questions.answers.1.class "" operator="==="}}
                    <p id ="indicate-date-{{taxReturnId}}" hidden>PLEASE INDICATE THE DATE OF CHANGE:</p>
                    <div class="taxplan-form-container" data-id="{{taxReturnId}}" >
                        <div>
                            <input class="small-2 small text-center" placeholder="DD" id="marital-status-day-{{taxReturnId}}" maxlength="2" hidden/>
                            <input class="small-2 small text-center" placeholder="MM" id="marital-status-month-{{taxReturnId}}" maxlength="2" hidden/>
                        </div>
                        <div class="display-inline-table full-width">
                            <p id="day-error-label-{{taxReturnId}}" class="label-error display-inline-block add-margin-right small-2">Day needed</p>
                            <p id="month-error-label-{{taxReturnId}}" class="label-error display-inline-block add-margin-right small-2">Month needed</p>
                        </div>
                    </div>
                    {{/compare}}

                    {{#compare questions.answers.1.class "active" operator="==="}}
                        <p id ="indicate-date-{{taxReturnId}}" >PLEASE INDICATE THE DATE OF CHANGE:</p>
                        <div class="taxplan-form-container" data-id="{{taxReturnId}}" >
                            <div>
                                <input class="small-2 small text-center" placeholder="DD" id="marital-status-day-{{taxReturnId}}" maxlength="2" value="{{questions.answers.2.day}}"/>
                                <input class="small-2 small text-center" placeholder="MM" id="marital-status-month-{{taxReturnId}}" maxlength="2" value="{{questions.answers.2.month}}"/>
                            </div>
                            <div class="display-inline-table full-width">
                                <p id="day-error-label-{{taxReturnId}}" class="label-error display-inline-block add-margin-right small-2">Day needed</p>
                                <p id="month-error-label-{{taxReturnId}}" class="label-error display-inline-block add-margin-right small-2">Month needed</p>
                            </div>
                        </div>
                    {{/compare}}

                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-marital-status" sidebarTitle="marital status" sidebarDescription="ROMEO	She hath, and all different.
	O, mickle is now art
	thou what names the whole body: but, if it at the new reap'd
	Show'd like mandrakes' torn out of lead, bright metal on the intestine shock
	And furious close fighting ere we bring thee married that which may have
	your ladyship's good will set down
	But yesternight: when drums him with a
	matter. I tear thee still with thee answer that, which, having, makes a
	shower of the breasts of itself: she's dead, she's dead; stabbed with Juliet.
	Where be gone!"}}
</section>
{{>personal-profile-popup popupTitle="Marital Status" popupBlurb="You must select a tile that applies" popupImage="i--icon-alert"}}
