<section id="personal-profile-marital-status" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Marital Status</h1>
                <button id="marital-status-submit" type="submit" class="green header">Next</button>
                <button id="marital-status-back" class="grey header">Previous</button>
            </div>
            <form id="marital-status-form">
                {{#debug}}{{/debug}}
                {{#each taxReturns}}
                    <h1 class="subtitle display-inline-table full-width">{{firstName}}, what was your martial status on Dec 31, 2015:</h1>
                    {{>personal-profile-single-options questions=questions.answers.0.tiles activeTiles=questions.answers.answer tileContainerId=taxReturnId}}
                    <div class="marital-status-changed-container">
                        <div class="checkbox" id="marital-status-changed-{{taxReturnId}}"></div>
                        <p class="checkbox-label">MY MARITAL STATUS CHANGED IN 2016</p>
                        <p hidden>PLEASE INDICATE THE DATE OF CHANGE:</p>
                        <div>
                            <div>
                                <input class="small-2 small text-center" placeholder="DD" id="birth-day-{{taxReturnId}}" hidden/>
                                <input class="small-2 small text-center" placeholder="MM" id="birth-month-{{taxReturnId}}" hidden/>
                            </div>
                            <div class="display-inline-table full-width">
                                <p id="last-name-label-error-last-name" class="label-error display-inline-block add-margin-right">Please provide information</p>
                                <p id="last-name-label-error-last-name" class="label-error display-inline-block add-margin-right">Please provide information</p>
                            </div>
                        </div>
                        {{#if @index}}
                            <div class="display-inline-table full-width add-top-margin">
                                <div class="checkbox"></div>
                                <p class="checkbox-label" id="marital-status-same-{{taxReturnId}}">SAME MARITAL STATUS AS ABOVE</p>
                            </div>
                        {{/if}}
                    </div>
               {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-marital-status" sidebarTitle="marital status"}}
</section>
{{>personal-profile-popup popupTitle="Marital Status" popupBlurb="You must select a tile that applies" popupImage="i--icon-taxplan-logo"}}
