<section id="dashboard-chat">
    <div id="dashboard-chat-container">
        {{#each messages}}
            <div id="chat-message" class="add-top-padding add-bottom-padding">
                {{#if isFromUser}}
                    <p class="label-message-date add-right-padding text-right">{{date}}</p>
                    <p class="label-message-content user display-inline-block side-info-blurb">
                        {{{body}}}
                    </p>
                {{else}}
                    <div class="i--icon-message-taxplan"></div>
                    <p class="label-message-content taxpro display-inline-block side-info-blurb">
                        {{{body}}}
                    </p>
                    <p class="label-message-date add-left-padding">{{date}}</p>
                {{/if}}
            </div>
        {{/each}}
    </div>
    <form id="dashboard-chat-form" class="border-top-light-gray">
        <textarea id="dashboard-chat-message" rows="3" name="message" class="text-field-chat"></textarea>
        <button type="submit" id="dashboard-chat-submit" class="green short button-send">Send</button>
    </form>
</section>