<div class="border-bottom-light-gray">
    <div class="container-inline-input long">
        <p>{{first_name}} {{last_name}}</p>
    </div>
    <div class="container-inline-input">
        <p>{{date_of_birth}}</p>
    </div>
    <div class="container-inline-input container-small-button">
        <div class="container-inline-input">
            <button class="dependants-button-delete green-outline" data-id="{{id}}" data-tax-return-id="{{tax_return_id}}">Delete</button>
        </div>
        <div class="container-inline-input">
            <button class="dependants-button-edit green-outline" data-id="{{id}}">Edit</button>
        </div>
    </div>
</div>
