<div id="container-dependants-line-{{taxReturnId}}" class="border-bottom-light-gray" hidden>
    <div class="container-inline-input long">
        <p id="side-info-blurb3-{{taxReturnId}}">Skippy Doctor</p>
    </div>
    <div class="container-inline-input">
        <p id="side-info-blurb2-{{taxReturnId}}">06/03/93</p>
    </div>
    <div class="container-inline-input container-small-button">
        <div class="container-inline-input">
            <button id="dependants-delete-{{taxReturnId}}" class="green-outline">Delete</button>
        </div>
        <div class="container-inline-input">
            <button id="dependants-edit-{{taxReturnId}}" class="green-outline">Edit</button>
        </div>
    </div>
    <div class="border-bottom-light-gray add-bottom-padding add-top-padding">
        <div class="i--icon-add"></div>
        <label class="label-add">ADD A DEPENDANT FOR {{firstName}}</label>
    </div>
</div>
