<div class="hide-for-small small-12 medium-3 grid-end white-container position-fixed">
    <div class="wrapper-container side-info {{#if sidebarImage}}has-image{{/if}}">
        {{#if sidebarImage}}
            <div>
                <div data-id="" id="personal-profile-sidebar-image-initial" class="{{sidebarImage}}" data-sidebar-image="{{sidebarImage}}"></div>
                <div data-id="" id="personal-profile-sidebar-image" class="sidebar-image-rollover" data-sidebar-image="{{sidebarImage}}"></div>
            </div>
        {{/if}}
        <h3 id="personal-profile-sidebar-header" class="font-yellow">{{sidebarTitle}}</h3>
        <p id="personal-profile-instructions" class="side-info-blurb">
            {{#if hasTiles}}
                {{#if isShortPath}}
                    {{{@root.taxReturns.questions.0.category_displaytext}}}
                {{else}}
                    {{{@root.taxReturns.questions.0.0.category_displaytext}}}
                {{/if}}
            {{else}}
                {{sidebarDescription}}
            {{/if}}
        </p>
    </div>
</div>