<div class="border-bottom-light-gray">
    <div class="container-inline-input long">
        <p>{{first_name}} {{last_name}}</p>
    </div>
    <div class="container-inline-input">
        <p>{{date_of_birth}}</p>
    </div>
    <div class="container-inline-input container-small-button">
        <div class="container-inline-input">
            <button class="dependants-button-delete green-outline" data-id="{{id}}">Delete</button>
        </div>
        <div class="container-inline-input">
            <button class="dependants-button-edit green-outline" data-id="{{id}}">Edit</button>
        </div>
    </div>
    <div class="dependants-button-add border-bottom-light-gray add-bottom-padding add-top-padding" data-id="{{tax_return_id}}">
        <div class="i--icon-add"></div>
        <label class="label-add">ADD A DEPENDANT FOR {{filerName}}</label>
    </div>
</div>
