<section class="modal--fade" id="modal-personal-profile-popup" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <div class="modal-inner popup text-center">
        <form id="modal-tax-profile-quote-form">
            <div class="{{popupImage}}"></div>
            <p class="label-popup-header">{{popupTitle}}</p>
            <p class="label-popup-blurb side-info-blurb">{{popupBlurb}}</p>
            <button type="submit" id="modal-tax-profile-quote-submit" class="green add-top-margin">Got it!</button>
        </form>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>
</section>
<section class="modal--fade" id="modal-personal-profile-popup-none-apply" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <div class="modal-inner popup text-center">
        <form id="modal-tax-profile-quote-form">
            <div class="{{popupImage}}"></div>
            <p class="label-popup-header">{{popupTitle}}</p>
            <p class="label-popup-blurb side-info-blurb">Cannot select other tiles with none apply</p>
            <button type="submit" id="modal-tax-profile-quote-submit" class="green add-top-margin">Got it!</button>
        </form>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>
</section>