<section data-id="{{tileContainerId}}" class="grid-container taxplan-tile-container">
    {{#each questions}}
        <div id="{{id}}" data-id="{{question_id}}" class="taxplan-tile {{customTileClass}} {{class}}" data-instructions="{{{instructions}}}" data-value="{{question_text}}">
            <span class="taxplan-tile-label">{{question_text}}</span>
        </div>
    {{/each}}
</section>
