<option value="" {{#unless selectedProvince}}selected="selected"{{/unless}} disabled>Select…</option>
<option value="AB" {{{isOptionSelected "AB" selectedProvince}}}>Alberta</option>
<option value="BC" {{{isOptionSelected "BC" selectedProvince}}}>British Columbia</option>
<option value="MB" {{{isOptionSelected "MB" selectedProvince}}}>Manitoba</option>
<option value="NB" {{{isOptionSelected "NB" selectedProvince}}}>New Brunswick</option>
<option value="NL" {{{isOptionSelected "NL" selectedProvince}}}>Newfoundland and Labrador</option>
<option value="NS" {{{isOptionSelected "NS" selectedProvince}}}>Nova Scotia</option>
<option value="NT" {{{isOptionSelected "NT" selectedProvince}}}>Northwest Territories</option>
<option value="NU" {{{isOptionSelected "NU" selectedProvince}}}>Nunavut</option>
<option value="ON" {{{isOptionSelected "ON" selectedProvince}}}>Ontario</option>
<option value="PE" {{{isOptionSelected "PE" selectedProvince}}}>Prince Edward Island</option>
<option value="QC" {{{isOptionSelected "QC" selectedProvince}}}>Quebec</option>
<option value="SK" {{{isOptionSelected "SK" selectedProvince}}}>Saskatchewan</option>
<option value="YK" {{{isOptionSelected "YK" selectedProvince}}}>Yukon</option>